body,h1,h2,h3,h4,h5,h6 {font-family: 'Tinos', serif;}
body,html {
  height: 100%;  
  line-height: 1.8;
  }

html
{
  background-color:#fffffa;
  width: 100%;
  height: auto;
  background:
  url(../images/whitehole.png) fixed center no-repeat,
  url(../images/backtype.png) no-repeat right scroll;
  background-size: cover, contain;
  overflow-x:hidden;
  }
  
@media (max-width: 1080px) {
  html{
    background-color:#fffffa;
    background:url(../images/backtype.png) right bottom no-repeat;
    background-size: 150px;
  }
}
.w3-wide 
{
  letter-spacing: 5px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
.wrapper
{
  min-height: 100vh;
}

.footer a
{
  text-decoration: none;
}

h1 
{
  color: #912f40;
}
p 
{color: #080705;
}
